:root {
  --primary-text-color: #434455; /* SLATE */
  --primary-color: #2e2f42; /* NAVY BLUE */
  --accent-color: #4d5ae5; /* IRIS*/
  --secondary-background-color: #f4f4fd; /* CLOUD */
  --accent-color-focus: #404bbf; /* OCEAN */
  --border-color: #e7e9fc; /* CORNFLOWER */
  --invert-white-color: #fff; /* WHITE */
}

body {
  color: var(--primary-text-color);
  background-color: var(--invert-white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.site-nav,
.address-pages,
.list {
  list-style: none;
}

/* header style */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-second {
  color: var(--primary-color);
}

.site-nav .link {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color-focus);
}

.site-nav .link.current {
  color: var(--accent-color-focus);
}

.address-pages .mail,
.address-pages .phone {
  color: var(--primary-text-color);
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.address-pages .mail:hover,
.address-pages .mail:focus {
  color: var(--accent-color-focus);
}

/* Hero */
.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: var(--invert-white-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--invert-white-color);

  background-color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-focus);
}

/* Benefit section */
.item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* TEAM section  */
.team {
  background-color: var(--secondary-background-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.team-list {
  background-color: var(--invert-white-color);
}

/* PORTFOLIO Styles*/

.list .portfolio-button {
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  border: 1px solid var(--border-color);
  padding: 12px 24px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--invert-white-color);
  background-color: var(--accent-color-focus);
  cursor: pointer;
}

.portfolio-links {
  text-decoration: none;
}
.footer {
  background-color: var(--primary-color);
}

.footer-text {
  color: var(--border-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
